<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <link rel="shortcut icon" href="d.png" type="image/x-icon">

  <title>Python_Practical_Practice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: brown;">


  <div class="row">

    <h3 class="text-center " style="background-color:brown" id="pp" onmouseover="m()" onmouseout="o()"> <b>P Y T H O
        N</b></h3>
    <div class="col-sm-4">

    </div>

  </div>



  <div id="nav" class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">

      <!-- //////////////////////////////////// -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><B>PPP</B></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Python_Link</a>
              </li>

            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


    </div>

    <!-- ///////////////////////////////////////////////////////////////////////// -->

    <div id="main_data" class="row" style="margin-top: 20px;">

    
      <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-4"> <div class="grid">

           <div class="modal-content rounded-6 shadow">
             <div class="modal-body p-5">
               <h2 class="fw-bold mb-0">What's new</h2>

               <ul class="d-grid gap-4 my-5 list-unstyled">
                 <li class="d-flex gap-4">
                   <img src="dds.png" alt="" style="width: 30%; position: relative; ">
                   <div>
                     <h5 class="mb-0">Python</h5>
                     <a href="p"> Python More Details </a>
                     <!-- <link rel="stylesheet" href="gg.html"> -->

                   </div>
                 </li>
                 <li class="d-flex gap-4">
                   <svg class="bi text-warning flex-shrink-0" width="48" height="48">
                     <use xlink:href="#bookmark-star"></use>
                   </svg>
                   <div>
                     <h5 class="mb-0">Bookmarks</h5>
                     Save items you love for easy access later.
                   </div>
                 </li>
                 <li class="d-flex gap-4">
                   <svg class="bi text-primary flex-shrink-0" width="48" height="48">
                     <use xlink:href="#film"></use>
                   </svg>
                   <div>
                     <h5 class="mb-0">Video embeds</h5>
                     Share videos wherever you go.
                   </div>
                 </li>
               </ul>
               <button type="button" class="btn btn-lg btn-outline-info mt-5 w-100 " data-bs-dismiss="modal">Great,
                 thanks!</button>
             </div>
           </div>
         </div>
        </div>
        <div class="col-sm-2"></div>

        <div class="col-sm-4" id="ll" onmouseover="op()">
           <div class="grid">

           <div class="modal-content rounded-6 shadow">
             <div class="modal-body p-5">
               <h2 class="fw-bold mb-0">What's new</h2>

               <ul class="d-grid gap-4 my-5 list-unstyled">
                 <li class="d-flex gap-4">
                   <img src="dds.png" alt="" style="width: 30%; position: relative; ">
                   <div>
                     <h5 class="mb-0">Python</h5>
                     <a href="gg.html"> Python More Details </a>
                     <!-- <link rel="stylesheet" href="gg.html"> -->
                   </div>
                 </li>
                 <li class="d-flex gap-4">
                   <svg class="bi text-warning flex-shrink-0" width="48" height="48">
                     <use xlink:href="#bookmark-star"></use>
                   </svg>
                   <div>
                     <h5 class="mb-0">Bookmarks</h5>
                     Save items you love for easy access later.
                   </div>
                 </li>
                 <li class="d-flex gap-4">
                   <svg class="bi text-primary flex-shrink-0" width="48" height="48">
                     <use xlink:href="#film"></use>
                   </svg>
                   <div>
                     <h5 class="mb-0">Video embeds</h5>
                     Share videos wherever you go.
                   </div>
                 </li>
               </ul>
               <button type="button" class="btn btn-lg btn-outline-info mt-5 w-100 " data-bs-dismiss="modal">Great,
                 thanks!</button>
             </div>
           </div>
         </div>
        </div>
        


        
        <div class="col-sm-1"></div>

   </div>

  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->



  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="row">
    <div class="col-sm-4">

      <!-- <marquee behavior="" direction="right" class="alert alert-info" ><b>Python_Practical_Practice </b></marquee> -->

    </div>
    <div class="col-sm-4">

      <marquee behavior="" direction="right" class="alert alert-info"><b>Python_Practical_Practice </b></marquee>

    </div>
  </div>

  <script>


    function m() {


      var x = document.getElementById("pp").innerHTML = "Welcome To My World"


    }

    function o() {


      var x = document.getElementById("pp").innerHTML = "Python_Practical_Practice"


    }
    function op() {

        var t =  document.getElementById("ll").click
          
              
        t.style.height = "64px";
        t.style.width = "64px";
}




     



  </script>




</body>

</html>